{% extends 'layout/main.html' %}

{% block content_main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 col-lg-3 p-4">
            <h5>Pokemon name</h5>
            <img src="https://via.placeholder.com/420" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                <b>Peso: </b> 42<br>
                <b>Altura: </b> 100<br>
                <b>Habilidades: </b> Lorem<br>
                <b>Movimientos: </b> Lorem<br>
                <b>Tipo: </b> <a href="#no-link">Lorem</a><br>
            </p>
        </div>
    </div>
</div>
{% endblock content_main %}