{% extends 'layout/main.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content_main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h3>{{ title }}</h3>
        </div>
        {% for item in items %}
        <div class="col-md-4 col-lg-3 text-center p-4">
            <h5>{{ item.name|capfirst }}</h5>
            <img src="{{ item.sprites.front_default }}" class="img-fluid"><br>
            <a href="{% url 'pokemon:details' item.id %}" class="btn btn-warning mt-2">Ver pokemon</a>
        </div>
        {% empty %}
        <div class="col-12">
            <h5>No hay elementos</h5>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content_main %}